html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("bgimage1.jpg");
  transition: all 3s;
}
#navigation ul {
  list-style-type: none;
  margin: 0px;
  display: inline;
}

.preload {
  position: fixed;
  left: -10000px;
  bottom: -100000px;
}

#socials {
  list-style-type: none;
  margin: 0px;
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  color: white;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#instagram {
  position: fixed;
  right: 230px;
  top: 41px;
}

#facebook {
  position: fixed;
  right: 50px;
  top: 41px;
}

#instagram:hover {
  color: #bc2a8d;
}

#facebook:hover {
  color: #3b5998;
}
#logo {
  width: 65px;
  height: auto;
  opacity: 0.5;
  position: fixed;
  bottom: 37px;
  right: 50px;
  -webkit-animation: pulse 1.5s infinite;
  transition: all 0.3s;
  cursor: pointer;
}
#logo:hover {
  -webkit-animation: none;
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
#JacobName {
  position: fixed;
  left: 50px;
  top: 30px;
  font-size: 48px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  transition: ease-in-out;
  color: white;
  line-height: 45px;
}
#JacobName.black {
  transition: ease-in-out;
  color: black;
}
#JacobName:hover {
  color: rgba(255, 255, 255, 0.521);
}
a {
  text-decoration: none;
  color: inherit;
  transition: ease-in-out 0.3s;
}

#Photography {
  position: fixed;
  left: 50px;
  top: 80px;
  color: rgba(255, 255, 255, 0.39);
  font-size: 25px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
}

img {
  margin: 0%;
  padding: 0;
  margin-top: -40px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#logoButton {
  position: fixed;
  left: -10000px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1px 40px 20px 40px;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
  box-shadow: 0px 2px 45px 10px rgba(82, 82, 82, 0.1);
  transition: all 0.3s;
}

#aboutme {
  font-size: 30px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800px;
  color: #616161;
}

#modaltext {
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700px;
  color: #8a8a8a;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 25px;
  transition: all 0.5s;
}

.close:hover,
.close:focus {
  color: rgb(85, 85, 85);
  text-decoration: none;
  cursor: pointer;
}

#b1 {
  background-image: url("bgimage2.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b2 {
  background-image: url("bgimage3.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b3 {
  background-image: url("bgimage4.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b4 {
  background-image: url("bgimage5.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b5 {
  background-image: url("bgimage6.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b6 {
  background-image: url("bgimage7.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b7 {
  background-image: url("bgimage8.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b8 {
  background-image: url("bgimage9.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b9 {
  background-image: url("bgimage10.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b10 {
  background-image: url("bgimage11.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b11 {
  background-image: url("bgimage12.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b12 {
  background-image: url("bgimage13.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b13 {
  background-image: url("bgimage14.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b14 {
  background-image: url("bgimage15.jpg");
  transition: all 3s;
  transition-delay: 3s;
}
#b15 {
  background-image: url("bgimage1.jpg");
  transition: all 3s;
  transition-delay: 3s;
}

@media only screen and (max-width: 920px) {
  #instagram {
    position: fixed;
    bottom: 30px;
    top: unset;
    left: 50px;
  }
  #facebook {
    position: fixed;
    bottom: 60px;
    top: unset;
    left: 50px;
  }
}

@media only screen and (max-width: 500px) {
  #Photography {
    top: 117px;
  }
  .modal-content {
    margin: 10% 3% 10% 3%;
    padding: 1px 20px 20px 20px;
    width: auto;
  }
}
